 <div class="flex flex-col space-y-6 border-2 p-4">
                <div class="flex justify-between space-x-5">
                  <img
                    [src]="food.pictureUrl"
                    class="w-[8rem] h-[6rem]"
                  />
                  <div class="flex flex-col space-y-5">
                    <p class="text-sm font-extrabold">{{food.name}}</p>
                    <p class="text-sm font-extralight">
                      {{food.description.length > 50 && food.description.substring(0,45) + "..."}}
                    </p>
                  </div>
                </div>
                <div class="flex justify-between w-full">
                  <p>{{food.price | currency: '₦'}}</p>
                  <p class="text-lg font-extrabold h-10 w-10 rounded-full bg-green-200 text-green-400 flex items-center justify-center cursor-pointer"
                  (click)="addItemToBasket()"
                  >
                    <i class="fa-solid fa-plus"></i>
                  </p>
                </div>
              </div>
