 <input
 class="border-t-0 w-[25rem] h-[2.5rem] border-b-2 mb-4 rounded-lg shadow-md px-6 border-gray-500 focus:outline-none"
placeholder={{label}}
[type]="type"
(input)="onChange($any($event.target).value)"
#input
(blur)="onTouched()"
/>

<div *ngIf="(controlDir && controlDir.control && controlDir.control.status === 'PENDING')" class="fa fa-spinner fa-spin text-subtleGreen">

</div>

<div *ngIf="(controlDir && controlDir.control && controlDir.control.touched && !controlDir.control.valid)">
  <span *ngIf="controlDir.control.errors?.['required']" class="text-red-600 text-sm font-bold">{{label}} is required</span>
  <span *ngIf="controlDir.control.errors?.['pattern']" class="text-red-600 text-sm font-bold">Invalid email address</span>
</div>

<div *ngIf="(controlDir && controlDir.control && controlDir.control.dirty && !controlDir.control.valid)">
<span *ngIf="controlDir.control.errors?.['emailExists']" class="text-red-600 text-sm font-bold">Email address in use</span>
</div>
