<nav class="bg-primaryYellow fixed top-0 left-0 w-screen border-b-primaryYellow shadow-md">
  <div class="container mx-auto flex flex-row items-center px-5 py-7 justify-between">
    <h2 class="text-subtleGreen font-extrabold text-3xl">glover</h2>
    <a class="btn">Get started</a>
  </div>
  <div *ngIf="hasScrolledPastPoint" class="pb-6 pt-3 absolute w-screen top-9">
    <p class="text-center font-semibold p-3">Enter your address to know what’s near you</p>
  <div class="flex flex-row h-14 bg-primaryYellow items-center justify-center transition delay-150 duration-300 ease-in-out pb-3">

        <div class="bg-subtleGreen px-5 py-3 text-lightGreen rounded-l-xl">
          <i class="fa-solid fa-location-dot"></i>
        </div>

        <input placeholder="what's your address" class="py-1 px-4 h-12 rounded-r-xl focus:outline-none" (click)="openAddressModal()" />
      </div>
</div>
</nav>
