<app-restaurant-nav></app-restaurant-nav>

<div class="bg-primaryYellow h-[26rem] pt-28">

  <div class="container mx-auto">
    <h2 class="text-center text-3xl font-extrabold">Delivery to {{location}}</h2>

  <!-- Items at top -->
  <div class="flex items-center space-x-10 justify-center pt-8">
    <app-delivery-items [item]="'Food'" [image]="'../../assets/res-food.png'" ></app-delivery-items>
    <app-delivery-items [item]="'Groceries'" [image]="'../../assets/res-groceries.avif'" ></app-delivery-items>
    <app-delivery-items [item]="'Pharmacy'" [image]="'../../assets/res-pharmacy.png'" ></app-delivery-items>
    <app-delivery-items [item]="'Package'" [image]="'../../assets/res-delivery.avif'" ></app-delivery-items>
    <app-delivery-items [item]="'Shoprite'" [image]="'../../assets/res-shoprite.avif'" ></app-delivery-items>
    <app-delivery-items [item]="'Coca-Cola'" [image]="'../../assets/res-cola.png'" ></app-delivery-items>
    <app-delivery-items [item]="'Breakfast'" [image]="'../../assets/res-breakfast.avif'" ></app-delivery-items>
  </div>
  </div>

</div>

<div class="w-full py-10">
  <div class="container mx-auto flex flex-col space-y-4">
    <div class="flex items-center space-x-2">
      <i class="fa-solid fa-store"></i>
      <h3 class="font-bold text-2xl">Restaurants you might like</h3>
    </div>

    <div class="flex items-center justify-center space-x-8 space-y-4 flex-wrap">

     <ng-container *ngFor="let restaurant of restaurants">
      <app-restaurant-rec [name]="restaurant.name" [image]="restaurant.pictureUrl"
      [reviews]="restaurant.reviews" [ratings]="restaurant.ratings"
      [restaurantId]="restaurant.id"
      ></app-restaurant-rec>
     </ng-container>

    </div>

  </div>
</div>

<div class="w-full py-10">
  <div class="container mx-auto flex flex-col space-y-4">
    <div class="flex items-center justify-center">
      <img src="../../assets/top-cat.svg" class="w-36 h-28" />
    </div>

    <div class="flex flex-col space-y-10">
      <h3 class="text-3xl font-extrabold text-center">Top categories in {{location}}</h3>

    <div class="flex flex-row flex-wrap space-x-2 space-y-1">
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Chicken</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Local food</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Pasta</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Snacks</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Healthy</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Burgers</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Traditional</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Pizza</p>
      <p class="bg-yellow-100 py-2 px-8 rounded-full font-bold text-xl">Jollof</p>

    </div>
    </div>



  </div>
</div>
